body {
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  font-family: Arial, sans-serif; /* Optional: Set a global font */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/hulking-raptor.png"); /* Path to your wallpaper */
  background-size: contain; /* Ensures the entire image is visible */
  background-position: center; /* Centers the image */
  background-repeat:no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Keeps the background static */
  min-height: 100vh; /* Ensures the background covers the full viewport height */
}

#root {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Adjust vertical alignment */
  min-height: 100vh; /* Full viewport height */
  flex-direction: column;
  margin: clamp(10px, 5%, 70px); /* Dynamic margin */
  padding: clamp(10px, 2%, 30px); /* Dynamic padding */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Media query for smaller screens */
@media (max-width: 768px) {
	body {
	  background-size: cover; /* Ensures the image fills the screen */
	  background-position: top; /* Focuses on the top of the image */
	}
  }

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.title {
	color: white;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers horizontally */
  justify-content: center; /* Centers vertically */
  min-height: calc(100vh - 40px); /* Adjust height to account for margins */
  text-align: center; /* Centers text inside the container */
  padding: 20px;
  margin: 20px; /* Adds margin on all sides */
  border-radius: 10px; /* Optional: Add rounded corners */
}

h1 {
  margin-bottom: 20px; /* Adjust the value as needed */
}
